@import "../../common/colors.scss";

h1 {
  color: $text-icons;
  margin-bottom: 10px;
}

.drink-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
}

.text-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: $text-icons;
}

img {
  border-radius: 25px;
}
