@import "../../common/colors.scss";

h1 {
  color: $text-icons;
  margin-bottom: 10px;
}

.drink-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.text-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: $text-icons;
  justify-content: center;
  max-width: 300px;
}

.details-content {
  max-width: 300px;
}

.container {
  display: flex;
  justify-content: center;
}
