@import "../../common/colors.scss";

.header {
  background-color: $dark-primary;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logo {
  color: $text-icons;
  font-size: 20px;
  font-weight: 600;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-grow: 0.1;
  color: $text-icons;
}

/* unvisited link */
a:link {
  color: $text-icons;
}

/* visited link */
a:visited {
  color: $text-icons;
}

/* mouse over link */
a:hover {
  color: $text-icons;
}

/* selected link */
a:active {
  color: $text-icons;
}
