@import "../../common/colors.scss";

.card-container {
  background-color: $text-icons;
  width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: space-between;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  margin-bottom: 25px;
}

.recipe-btn {
  background-color: $accent;
  color: $text-icons;
  font-size: medium;
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 0px;
  text-align: center;
}
.recipe-btn:hover {
  background-color: $light-primary;
}

h3 {
  color: $primary-text;
  margin-left: 10px;
}

h4 {
  color: $secondary-text;
  margin-left: 10px;
}
